.phoneItem{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.list{
    padding: 0px 10px;
}
.button{
    cursor: pointer;
    display: block;
    padding: 0px 10px;
}
.textContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    margin-right: 10px;
    cursor: pointer;
}
.icon:hover, 
.icon:focus{
    color: rgb(239, 175, 0);
}